@model WebApplication1.Areas.ModulAdmin.ViewModels.Plata.PlataDodajVM
@{
    ViewData["Title"] = "Dodaj";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Dodaj platu</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form asp-area="ModulAdmin" asp-controller="Plata" asp-action="DodajSave" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Zaposlenik">
                            Zaposlenik:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select asp-for="ZaposlenikId" asp-items="Model.Zaposlenici" class="form-control">
                                <option value="" disabled hidden selected>(Odaberi zaposlenika)</option>
                            </select>
                            <span asp-validation-for="ZaposlenikId"></span>

                        </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Iznos">
                            Iznos:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Iznos" type="number" class="form-control" />
                            <span asp-validation-for="Iznos"></span>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-9 text-right">
                                <button type="reset" class="btn btn-primary">Resetiraj</button>
                                <button type="submit" class="btn btn-success">Potvrdi</button>
                            </div>
                        </div>
</form>
            </div>
        </div>
     </div>
</div>
