
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Izbornik<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="position:relative;">
                    <div class="panel-body">
                        <div class="icon-grid">
                            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                                <a asp-area="ModulAdmin" asp-controller="Jelo" asp-action="List" style="display:block;text-align:center;" title="Jela"><i class="fas fa-hamburger fa-5x" id="1" title="Članovi" aria-hidden="true"></i></a>
                                <hr style="border-color:white;" />
                                <a asp-area="ModulAdmin" asp-controller="Jelo" asp-action="List" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                    Jela
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                                <a asp-area="ModulAdmin" asp-controller="Narucilac" asp-action="List" style="display:block;text-align:center;" id="2" title="Narucioci"><i class="fa fa-user fa-5x" aria-hidden="true"></i></a>
                                <hr style="border-color:white;" />
                                <a asp-area="ModulAdmin" asp-controller="Narucilac" asp-action="List" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                    Naručioci
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                                <a asp-area="ModulAdmin" asp-controller="Zaposlenik" asp-action="List" style="display:block;text-align:center;" id="3" title="Zaposlenik"><i class="fa fa-user-plus fa-5x" aria-hidden="true"></i></a>
                                <hr style="border-color:white;" />
                                <a asp-area="ModulAdmin" asp-controller="Zaposlenik" asp-action="List" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                    Zaposlenici
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                                <a asp-area="ModulAdmin" asp-controller="Dolasci" asp-action="List" style="display:block;text-align:center;" id="3" title="EvidencijaRadnika"> <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i></a>
                                <hr style="border-color:white;" />
                                <a asp-area="ModulAdmin" asp-controller="Dolasci" asp-action="List" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                    Evidencija zaposlenih
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                                <a asp-area="ModulAdmin" asp-controller="Narudzba" asp-action="List" style="display:block;text-align:center;" id="3" title="Narudzba"><i class="fa fa-car fa-5x" aria-hidden="true"></i></a>
                                <hr style="border-color:white;" />
                                <a asp-area="ModulAdmin" asp-controller="Narudzba" asp-action="List" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                    Narudžbe
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                                <a asp-area="ModulAdmin" asp-controller="Rezervacija" asp-action="List" id="4" style="display:block;text-align:center;" title="Rezervacije"> <i class="fa fa-calendar fa-5x" aria-hidden="true"></i></a>
                                <hr style="border-color:white; " />
                                <a asp-area="ModulAdmin" asp-controller="Rezervacija" asp-action="List" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                    Rezervacije
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                                <a asp-area="ModulAdmin" asp-controller="Obavijest" asp-action="List" style="display:block;text-align:center;" id="5" title="Obavijest"><i class="fa  fa-file-text-o fa-5x" aria-hidden="true"></i></a>
                                <hr style="border-color:white; " />
                                <a asp-area="ModulAdmin" asp-controller="Obavijest" asp-action="List" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                    Obavijesti
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                                <a asp-area="ModulAdmin" asp-controller="Plata" asp-action="List" style="display:block;text-align:center;" id="3" title="Plata"> <i class="fa fa-money fa-5x" aria-hidden="true"></i></a>
                                <hr style="border-color:white;" />
                                <a asp-area="ModulAdmin" asp-controller="Plata" asp-action="List" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                    Plate
                                </a>
                            </div>




                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

