@using WebApplication1.Helper
@using WebApplication1.Models
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
    KorisnickiNalog korisnik = Context.GetLogiraniKorisnik();
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Izbornik<small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="position:relative;">
                <div class="panel-body">
                    <div class="icon-grid">
                        <div class="col-lg-4 col-md-4 col-sm-6" style="min-height:165px;">
                            <a asp-area="ModulKorisnik" asp-controller="Jelo" asp-action="Index" style="display:block;text-align:center;" title="Jela"><i class="fas fa-hamburger fa-5x" id="1" title="Članovi" aria-hidden="true"></i></a>
                            <hr style="border-color:white;" />
                            <a asp-area="ModulKorisnik" asp-controller="Jelo" asp-action="Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                Jela
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6" style="min-height:165px;">
                            <a asp-area="ModulKorisnik" asp-controller="Narucilac" asp-route-KorisnikId="@korisnik.Id" asp-action="Index" style="display:block;text-align:center;" id="2" title="Narucioci"><i class="fa fa-user fa-5x" aria-hidden="true"></i></a>
                            <hr style="border-color:white;" />
                            <a asp-area="ModulKorisnik" asp-controller="Narucilac" asp-route-KorisnikId="@korisnik.Id" asp-action="Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                Profil
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6" style="min-height:165px;">
                            <a asp-area="ModulKorisnik" asp-controller="Kontakt" asp-action="Index" style="display:block;text-align:center;" id="3" title="Zaposlenik"><i class="fa fa-phone fa-5x" aria-hidden="true"></i></a>
                            <hr style="border-color:white;" />
                            <a asp-area="ModulKorisnik" asp-controller="Kontakt" asp-action="Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                Kontakt
                            </a>
                        </div>
                      

                        <div class="col-lg-4 col-md-4 col-sm-6" style="min-height:165px;">
                            <a asp-area="ModulKorisnik" asp-controller="Narudzba" asp-action="Index" style="display:block;text-align:center;" id="3" title="Narudzba"><i class="fa fa-car fa-5x" aria-hidden="true"></i></a>
                            <hr style="border-color:white;" />
                            <a asp-area="ModulKorisnik" asp-controller="Narudzba" asp-action="Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                Narudžbe
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6" style="min-height:165px;">
                            <a asp-area="ModulKorisnik" asp-controller="Rezervacija" asp-action="Index" id="4" style="display:block;text-align:center;" title="Rezervacije"> <i class="fa fa-calendar fa-5x" aria-hidden="true"></i></a>
                            <hr style="border-color:white; " />
                            <a asp-area="ModulKorisnik" asp-controller="Rezervacija" asp-action="Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                Rezervacije
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6" style="min-height:165px;">
                            <a asp-area="ModulKorisnik" asp-controller="Obavijest" asp-action="Index" style="display:block;text-align:center;" id="5" title="Obavijest"><i class="fa  fa-file-text-o fa-5x" aria-hidden="true"></i></a>
                            <hr style="border-color:white; " />
                            <a asp-area="ModulKorisnik" asp-controller="Obavijest" asp-action="Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                                Obavijesti
                            </a>
                        </div>
                        



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

