@using WebApplication1.Models
@using WebApplication1.EF
@model Narudzba
@{
    List<Narucilac> narucioci = (List<Narucilac>)ViewData["narucilac"];

    List<Narudzba> narudzbe = (List<Narudzba>)ViewData["narudzba"];


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online restoran</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <br />

    <form method="post">
        <input type="hidden" value="@Model.Id" name="Id" />
        <div class="form-group">
            <label>Datum narudzbe</label>
            <input type="text" class="form-control" placeholder="Datum narudzbe" name="DatumNarudzbe" value="@Model.DatumNarudzbe">
        </div>       
        <select name="NarucilacId" class="form-control">
            @foreach (var item in narucioci)
            {
                <option value=@item.NarucilacId>@item.ImePrezime</option>
            }
        </select>      
        <br />

        <input type="submit" value="Sumbit formu" />

    </form>

    <hr />


</body>
</html>
