 <!-- footer content -->
        <footer>
          <div class="pull-right">
            FIT Mostar &reg; 2019
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

